<!--<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
<!--<div layout:fragment="content" class="row py-5 px-4">-->
<!--    <div class="col-xl-6 col-md-8 col-sm-10 mx-auto">-->
<!--        디엠창 To-->
<!--        <span th:text="${partner.profileName}"></span>-->
<!--        <p>from</p>-->
<!--        <span th:text="${me.profileName}"></span>-->
<!--        <form th:action="@{|/profile/sendmessageTo/${partner.profileName}|}" method="post">-->
<!--&lt;!&ndash;            <input type="hidden" name="profileName" th:value="${partner.profileName}">&ndash;&gt;-->
<!--            <input type="text" name="message">-->
<!--            <button type="submit" class="btn btn-primary">전송</button>-->
<!--        </form>-->
<!--        <div>-->
<!--            보낸메시지 :-->
<!--            <div th:each="message : ${messageList}">-->
<!--                <div th:text="${message.content}"></div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div>-->
<!--            받은메시지 :-->
<!--            <div th:each="message : ${receivedmessageList}">-->
<!--                <div th:text="${message.content}"></div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->
<!--</html>-->






<html>
<head>
    <title th:text="${me.profileName} + '➜' + ${partner.profileName}">Hello WebSocket</title>
<!--    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/app.js"></script>
<!--<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
<!--<div layout:fragment="content" class="row py-5 px-4">-->
<!--    <div class="col-xl-6 col-md-8 col-sm-10 mx-auto">-->
<!--        디엠창 To-->
<!--        <span th:text="${partner.profileName}"></span>-->
<!--        <p>from</p>-->
<!--        <span th:text="${me.profileName}"></span>-->
<!--        <form th:action="@{|/profile/sendmessageTo/${partner.profileName}|}" method="post">-->
<!--            &lt;!&ndash;            <input type="hidden" name="profileName" th:value="${partner.profileName}">&ndash;&gt;-->
<!--            <input type="text" name="message">-->
<!--            <button type="submit" class="btn btn-primary">전송</button>-->
<!--        </form>-->
<!--        <div>-->
<!--            보낸메시지 :-->
<!--            <div th:each="message : ${messageList}">-->
<!--                <div th:text="${message.content}"></div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div>-->
<!--            받은메시지 :-->
<!--            <div th:each="message : ${receivedmessageList}">-->
<!--                <div th:text="${message.content}"></div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <!--            <div th:text="${messageList}"></div>-->
            <!--            <div th:text="${receivedmessageList}"></div>-->


            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <!--                    <label for="name">What is your name?</label>-->
                    <!--                    <input type="text" id="name" class="form-control" placeholder="Your name here...">-->
                    <div th:text="'보내는사람(나) :' + ' ' + ${me.profileName}"></div>
                    <label for="content" th:text="'받는사람 :' + ' ' + ${partner.profileName}">Say something!</label>
                    <input type="text" id="content" class="form-control" placeholder="content">
                </div>
                <button id="send" class="btn btn-default" type="submit">Send</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>SaveMessage</th>
                </tr>
                </thead>
                <tbody id="savemessages">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>