<html>
<head>
    <title th:text="${me.profileName} + '➜' + ${partner.profileName}">Hello WebSocket</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/app.js"></script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div id="main-content" class="container" style="max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>

                    <button id="connect" class="btn btn-default" type="submit" th:onclick="myConnect('[[${me.profileName}]]')">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="container">

    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading" >
                    <span class="glyphicon glyphicon-comment"><p th:text="${me.profileName} + '➜' + ${partner.profileName}"></p>
</span>
                </div>
                <div class="panel-scrollable" >
                    <div class="panel-body">
                        <ul id="savemessages" class="chat" style="list-style: none; margin: 0; padding: 0;">
                            <li class="left clearfix" th:each="message : ${receivedmessageList}"><span class="chat-img pull-left">
                            <img th:src="@{|/files/${partner.profileImage.fileName}|}" alt="User Avatar" class="img-circle" style="width:50px; height:50px;"/>
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font" th:text="${partner.profileName}"></strong> <small class="pull-right text-muted" th:text="${message.createDate}">
                                        <span class="glyphicon glyphicon-time"></span></small>
                                        <tr id="You">
                                            <td th:text="${message.content}">

                                            </td>
                                        </tr>
                                    </div>

<!--                                    <p class="pull-left" >-->
<!--                                    </p>-->
                                </div>
                            </li>

                            <li class="right clearfix" th:each="message : ${messageList}"><span class="chat-img pull-right">
                            <img th:src="@{|/files/${me.profileImage.fileName}|}" alt="User Avatar" class="img-circle" style="width:50px; height:50px;"/>
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted"><span class="glyphicon glyphicon-time" th:text="${message.createDate}"></span></small>
                                        <strong class="pull-right primary-font" th:text="${me.profileName}"></strong>
                                        <tr id="Me">
                                            <td th:text="${message.content}">

                                            </td>
                                        </tr>
                                    </div>

<!--                                    <p class="pull-right" >-->
<!--                                    </p>-->
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="panel-footer">
                        <div class="input-group">
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="hidden" id="receiver" th:value="${partner.profileName}">
                                    <input type="text" id="content" class="form-control input-sm" placeholder="content">
                                    <span class="input-group-btn"> <button id="btn-chat" class="btn btn-default" type="submit">Send</button></span>
                                </div>

                            </form>

                    </div>


                </div>

<!--                <table id="conversation" class="table table-striped">-->

<!--&lt;!&ndash;                    <tbody id="savemessages">&ndash;&gt;-->
<!--&lt;!&ndash;                        <tr id="Me">&ndash;&gt;-->
<!--                            <td></td>-->
<!--                        </tr>-->
<!--&lt;!&ndash;                        <tr id="You" style="text-align:left;">&ndash;&gt;-->
<!--                            <td style="color:blue;"></td>-->
<!--                        </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--        </div>-->
    </div>
</div>
<script>

    function myConnect(profileName) {
        connect(profileName);
    }

</script>
</body>

</html>