<html>
<head>
    <title th:text="${me.profileName} + '➜' + ${partner.profileName}">Hello WebSocket</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>

<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/app.js"></script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div id="main-content" class="container" style="max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
<!--                    <label for="connect">WebSocket connection:</label>-->

<!--                    <button id="connect" class="btn btn-default" type="submit" th:onclick="myConnect('[[${me.profileName}]]')">Connect</button>-->
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="container">

    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading" >
                    <span class="glyphicon glyphicon-comment"><p th:text="${me.profileName} + '➜' + ${partner.profileName}"></p>
</span>
                </div>
                <div class="panel-scrollable" >
                    <div class="panel-body">
                        <ul id="savemessages" class="chat" style="list-style: none; margin: 0; padding: 0;">
                            <li class="left clearfix" th:each="message : ${receivedmessageList}">
                                    <div id="You" class="balloon" style=" position:relative;
                                                                 margin: 50px;
                                                                 width:400px;
                                                                 height:50px;
                                                                  background:beige;
                                                                  border-radius: 10px;">
                                        <div class="balloon:after" style="
                                                                    border-top: 10px solid beige;
                                                                     border-left: 10px solid transparent;
                                                                     border-right: 10px solid transparent;
                                                                     border-bottom: 0px solid transparent;
                                                                        position:absolute;
                                                                        top:50px;
                                                                        left:50px;"
                                                                        ></div>
                                        <div class="header">
                                            <small class="pull-right text-muted" th:text="${message.createDate}">
                                            <span class="glyphicon glyphicon-time"></span></small>
                                            <span class='pull-left' style="" th:text="${message.content}"></span>
                                        </div>
                                    </div>
                            </li>

                            <li class="right clearfix" th:each="message : ${messageList}">
                                    <div id="Me" class="balloon" style=" position:relative;
                                                                 margin: 50px;
                                                                 width:400px;
                                                                 height:50px;
                                                                  background:pink;
                                                                  border-radius: 10px;">
                                        <div class="balloon:after" style="border-top:10px solid pink;
                                        border-left: 10px solid transparent;
                                        border-right: 10px solid transparent;
                                        border-bottom: 0px solid transparent;
                                        position:absolute;
                                        top:50px;
                                        left:350px"></div>
                                        <div class="header">
                                            <small class=" text-muted"><span class="glyphicon glyphicon-time" th:text="${message.createDate}"></span></small>
                                            <span class='pull-right' style="" th:text="${message.content}"></span>
                                        </div>
                                    </div>
                            </li>

                        </ul>
                    </div>

                    <div class="panel-footer">
                        <div class="input-group">
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="hidden" id="createDate" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}">
<!--                                    <input type="hidden" id="createDate" value="aaa">-->
                                    <input type="hidden" id="receiver" th:value="${partner.profileName}">
                                    <input type="text" id="content" class="form-control input-sm" placeholder="content">
                                    <span class="input-group-btn"> <button id="btn-chat" class="btn btn-default" type="submit">Send</button></span>
                                </div>
                            </form>
                    </div>
                </div>
    </div>
</div>
<script>
    var socket = new SockJS('/aaa');
    stompClient = Stomp.over(socket);
    var myprofileName = '[[${me.profileName}]]' ;



    stompClient.connect({}, function (frame) {
        setConnected(true);
        console.log('Connected: ' + frame);
        console.log(myprofileName);
        stompClient.subscribe('/topic/messaging', function (messaging) {
            showMessaging(JSON.parse(messaging.body), myprofileName);
        });
    });


</script>
</body>

</html>