<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div layout:fragment="content" class="row py-5 px-4">

    <form th:action="@{/resalePost/createResalePost}" th:object="${resalePostForm}" method="post" enctype="multipart/form-data" id="myForm">
        <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="제목을 입력해 주세요" required>
                <small class="text-danger" id="title-error"></small>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" id="content" th:field="*{content}" rows="3" placeholder="내용을 입력해 주세요" required></textarea>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">가격</label>
                <div class="input-group">
                    <input type="text" class="form-control col-sm-6" id="price" oninput="validateInput(this)" th:field="*{price}" placeholder="가격을 입력해 주세요(숫자만 입력 가능합니다)" required>
                    <span class="input-group-text">원</span>
                </div>
            </div>
            <div ty></div>
            <div>
                <label for="imageFiles">이미지 업로드</label>

                <input type="file" id="imageFiles" name="imageFiles" multiple required>
            </div>
            <button type="submit" class="btn btn-light">저장</button>
        </div>
    </form>

</div>
<script layout:fragment="script" type='text/javascript'>
    function validateInput(input) {
        // 정규 표현식을 사용하여 숫자가 아닌 문자를 제거합니다.
        input.value = input.value.replace(/[^0-9]/g, '');

        // 숫자로만 구성된 경우에만 값을 유효하게 처리할 수 있습니다.
        // 예를 들어, 여기서는 0 이상의 자연수인지 확인하고 있습니다.
        var numericValue = parseInt(input.value, 10);
        if (isNaN(numericValue) || numericValue < 0) {
            alert("숫자만 입력 가능합니다.");
            input.value = '';
        }
    }
</script>
</html>
